<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SERVLET</display-name>

<servlet>
	<servlet-name>XmlServlet</servlet-name>
	<servlet-class>yuriw.XmlServlet</servlet-class>
	<init-param>
		<param-name>inituser</param-name>
		<param-value>mamuka</param-value>
	</init-param>
</servlet>  
  
  <servlet>
	<servlet-name>iniJSP</servlet-name>
	<jsp-file>/initpage.jsp</jsp-file>
	<init-param>
		<param-name>inituserjsp</param-name>
		<param-value>mamuka</param-value>
	</init-param>
</servlet>  
  
 <servlet-mapping>
		<servlet-name>iniJSP</servlet-name>
	    <url-pattern>/initpage.jsp</url-pattern>
</servlet-mapping> 
  
  
  
  
<servlet-mapping>
		<servlet-name>XmlServlet</servlet-name>
	    <url-pattern>/x</url-pattern>
</servlet-mapping>
  
  
  
</web-app>